# Development Environments
.venv/
venv/
ENV/
*.env

# Python Compilation and Framework Data
__pycache__/
*.py[cod]
db.sqlite3
*.pkl
*.joblib

# Node Build Outputs
frontend/node_modules/
frontend/dist/
.eslintcache

# Media & Documentation Exclusions
*.csv
.DS_Store
.vscode/
